body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(160deg, #020a43, #460d62, #4e0130, #860107);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
Sign up background box
*/
.signup-container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  width: 360px;
  padding: 45px 45px 58px 45px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
One Stop Swicth 2 title
*/
.title {
  text-align: center;
  width: 70%;
  margin: 20px auto;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  color: red;
  font-size: 1.6rem;
  border: 7px solid red;
  padding: 3px 0.1px;
  border-radius: 25px;
}
/*
One stop switch 2 style
*/
.title a {
    color: red; 
    text-decoration: none; 
    display: inline-block; 
}

/*
Input box for email, password, and retyped password
*/
.input-field {
  width: 90%; 
  padding: 12px 15px;
  border-radius: 25px;
  border: 1px solid #777;
  outline: none;
  margin: 0 auto 18px auto; 
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  transition: 0.2s ease;
}
.input-field:focus {
  border-color: #7b2ff7;
  box-shadow: 0 0 4px rgba(123, 47, 247, 0.4);
}

/*
Sign up button
*/
.signup-btn {
  background: linear-gradient(150deg, #413bf6, #9333ea);
  border: none;
  color: white;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: opacity 0.3s ease, transform 0.2s ease;
}
.signup-btn:hover {
  opacity: 0.7;
}

/*
Login icon
*/
.login-link {
  margin-top: 20px;
  font-size: 14px;
}
/*
Login style
*/
.login-link a {
  text-decoration: none;
  color: #000066;
  font-weight: 600;
}
.login-link a:hover {
  text-decoration: underline;
}


